# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on fs
#For Absolute Persistence Partition
    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/bootdevice/by-name/persdata
    check_fs /dev/block/bootdevice/by-name/persdata ext4
    mount ext4 /dev/block/bootdevice/by-name/persdata /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

on boot
# permission for MUIC(waterproof)
    chown system radio /sys/class/sec/switch/uart_en

# SSWAP
    write /proc/sys/vm/swappiness 130

#MST HW Support
    setprop ro.mst.support 1

# NFC : create data/nfc for nv storage
    mkdir /efs/sec_efs/nfc 0500 nfc nfc

# Permissions for System LSI NFC
# NFC : Permissions for NFC
    chmod 0660 /dev/sec-nfc
# NFC : change owner
    chown nfc nfc /dev/sec-nfc

# Permissions for S.LSI ESE
	chmod 0660 /dev/p3
	chown system system /dev/p3

# Permissions for NXP NFC
# NFC : Permissions for NFC
    chmod 0660 /dev/pn547
# NFC : change owner
    chown nfc nfc /dev/pn547

# Permissions for NXP ESE
    chmod 0660 /dev/p61
    chown system system /dev/p61

# Fingerprint
    mkdir /dev/validity 0770 system system

# Fingerprint_sensor
    chmod 0660 /dev/vfsspi
    chmod 0660 /dev/esfp0
    chown system system /dev/vfsspi
    chown system system /dev/esfp0
    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor

# SENSOR FRAMEWORK : starts fingerprintService
service vcsFPService /system/bin/vcsFPService
    class late_start
    user system
    group system

# FINGERPRINT FRAMEWORK : starts fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# Create carrier folder for HiddenMenu
on post-fs
    mkdir /efs/carrier system system
    chmod 0755 /efs/carrier

on post-fs-data
#Private Mode
    mkdir /mnt/shell 0750 shell shell
    mkdir /mnt/shell/privatemode 0700 system system
    mkdir /storage/Private 0000 system system
    mkdir /data/privatemode 0770 system system
    chown system system /data/privatemode
    restorecon /data/privatemode
# Access permission for audio calibration
    chown system radio /sys/class/dsm/max98505/dsm_log
    chown system radio /sys/class/dsm/maxdsm_cal/max
    chown system radio /sys/class/dsm/maxdsm_cal/min
    chown system radio /sys/class/dsm/maxdsm_cal/status
    chown system radio /sys/class/dsm/maxdsm_cal/duration
    chown system radio /sys/class/dsm/maxdsm_cal/temp
    chown system radio /sys/class/dsm/maxdsm_cal/rdc
    mkdir /efs/maxim 0770 radio system
    chown system radio /efs/maxim/temp_cal
    chown system radio /efs/maxim/rdc_cal
    chmod 0660 /efs/maxim/temp_cal
    chmod 0660 /efs/maxim/rdc_cal

# sem_daemon permission
    chown system system /efs/sec_efs/ssp_data
    chmod 0644 /efs/sec_efs/ssp_data

# sem_daemon
service sem_daemon /system/bin/sem_daemon
    class core
    user system
    group system nfc
    disabled

on property:sys.boot_completed=1
    setprop security.semdaemonfinish 0
    start sem_daemon

on property:security.semdaemonfinish=1
    stop sem_daemon

# SSWAP
service swapon /sbin/sswap -s -f 2048
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot
